{% extends 'blog/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
{% endblock %} 

{% block title %} NEW! {% endblock %} 

{% block content %}
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <div class="body">
        <label for="title">📍TITLE</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="제목을 입력하세요"
        />

        <br />

        <div>
          <label for="content">✨CONTENT</label>
          <br />
          <textarea
            name="content"
            id="content"
            cols="30"
            rows="10"
            placeholder="내용을 입력하세요"
          ></textarea>
        </div>
        <br />

        <div>
          <label for="deadline">🗓️UNTIL</label>
          <br />
          <input
            type="date"
            id="deadline"
            name="deadline"
            placeholder="0000-00-00"
          />
        </div>
        <br />
        <button type="submit">SUBMIT</button>
        <br /><br />
      </div>
      <a href="{% url 'blog:home'%}">🏠HOME</a>
    </form>
    {% endblock %}
    <br>
    <br>
    <br>
    {% block footer %} copyright 2023. 원경 all rights reserved {% endblock %}
  </body>
</html>
