body {
  background-color: black;
}

#main {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: pink;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

a:link {
  color: pink;
  text-decoration: none;
}
a:visited {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: lavender;
  text-decoration: underline;
}
a:active {
  color: pink;
  text-decoration: none;
}
