<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEW-POST</title>
  </head>
  <body>
    <h2 id="main">✍️ NEW!</h2>
    <br />
    <form action="" method="post">
      {% csrf_token %}
      <div class="body">
        <label for="title">📍TITLE</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="제목을 입력하세요"
        />

        <br />

        <div>
          <label for="content">✨CONTENT</label>
          <br />
          <textarea
            name="content"
            id="content"
            cols="30"
            rows="10"
            placeholder="내용을 입력하세요"
          ></textarea>
        </div>

        <div>
          <label for="deadline">🗓️UNTIL</label>
          <br />
          <input
            type="date"
            id="deadline"
            name="deadline"
            placeholder="0000-00-00"
          />
        </div>
        <br />
        <button type="submit">SUBMIT</button>
        <br /><br />
      </div>
      <a href="{% url 'home'%}">🏠HOME</a>
    </form>
  </body>
</html>
