{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'update.css' %}" />
{% endblock %} 

{% block title %} UPDATE {% endblock %} 

{% block content %}
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <div class="body">
        <label for="title">📍TITLE</label>
        <input type="text" name="title" id="title" value="{{post.title}}" />
        <br />

        <div>
          <label for="content">✨CONTENT</label>
          <br />
          <textarea name="content" id="content" cols="30" rows="10">
{{ post.content }}</textarea
          >
        </div>
        <br />

        <div>
          <label for="deadline">🗓️UNTIL</label>
          <br />
          <input
            type="date"
            id="deadline"
            name="deadline"
            placeholder="0000-00-00"
          />
        </div>

        <br />
        <button type="submit">UPDATE</button>
      </div>
    </form>
    {% endblock %}
    <br>
    <br>
    <br>
    {% block footer %} 조원경이 힘겹게 만든 UPDATE 페이지입니다... {% endblock %}
  </body>
</html>
