<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'category.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2 id="main">TITLES [{{count}}]</h2>
      <br />

      <div id="titles">
        {% for article in articles %}
        <li>
          <a href="{% url 'detail' article.id %}">{{article.title}}</a>
        </li>
        {% endfor %}
      </div>
    </div>
    <br />
    <a href="{% url 'home' %}">🏠 HOME</a>
  </body>
</html>
